body {
 background-image: url(Pictures/RoseBackground.jpg);
}

h2, table, tr, ul {
    padding: 10px;
    font-family: Optima, sans-serif;
    background-color: rgb(255, 204, 230);
}

th, li {
    padding: 5px;
}

#th_item1 {
    text-align: left;
}

#map {
    height: 240px;
    width: 40%;
}

#div1 {
    width: 465px;
    height: 613px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#topLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rightTag {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
