body {
 background-image: url(Pictures/RoseBackground.jpg);
}

h2, table, ul {
    font-family: Times, Times New Roman, serif;
}

#layout {

}

h2 {
    text-align: center;
}

#basicInfo {
    position: absolute;
    top: 350px;
    left: 250px;
    background-color: rgb(255, 179, 217);
    width: 500px;
}

#tableOfPublications {
    position: absolute;
    top: 600px;
    left: 250px;
    background-color: rgb(255, 179, 217);
    width: 500px;
}

#map {
    height: 240px;
    margin: auto;
    width: 40%;
    top: 1200px;
    left: 250px;
    border: 3px solid pink;
    padding: 10px;
    position: absolute;
}

#div1 {
    width: 232px;
    height: 306px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    top: 800px;
    right: 200px;
    position: absolute;
}

#drag1 {
    width: 232px;
    height: 306px;
    top: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div2 {
    width: 232px;
    height: 306px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    top: 800px;
    right: 500px;
    position: absolute;
}

#topLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#video {
    position: absolute;
    top: 350px;
    right: 250px;
}

#form {
    top: 1200px;
    right: 250px;
    border: 3px solid pink;
    padding: 10px;
    position: absolute;
    background-color: rgb(255, 179, 217);
}
