body {
 background-image: url(Pictures/RoseBackground.jpg);
}

h2, h1 {
    text-align: center;
}

#h1PinkBackground {
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
    border: 3px solid pink;
}

#thTag {
    text-align: left;
}

#body {
    width: 700px;
    margin: 50px auto 50px auto;
}

#basicInfo {
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
    border: 3px solid pink;
    padding: 10px;
    width: 60%;
    margin: 5px auto 5px auto;
}

#tableOfPublications {
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
    border: 3px solid pink;
    padding: 10px;
    width: 50%;
    margin: 5px auto 5px auto;
}

#map {
    height: 240px;
    margin: auto;
    width: 100%;
    border: 3px solid pink;
    padding: 10px;
}

#standTable{
    width: 350px;
    margin: 700px 150px auto auto;
    position: absolute;
}

#dragGrid {
    margin: 5px auto 5px auto;
}

#div1 {
    width: 232px;
    height: 330px;
    padding: 10px;
    border: 3px solid pink;
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
}

#div2 {
    width: 232px;
    height: 330px;
    padding: 10px;
    border: 3px solid pink;
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
}

#div3 {
    width: 232px;
    height: 330px;
    padding: 10px;
    border: 3px solid pink;
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
}

#div4 {
    width: 232px;
    height: 330px;
    padding: 10px;
    border: 3px solid pink;
    background-color: rgb(255, 179, 217);
    background-image: linear-gradient(rgb(255, 179, 217), white);
}

#drag1 {
    margin-left: auto;
    margin-right: auto;
}

#drag2 {
    margin-left: auto;
    margin-right: auto;
}

#topLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#video {
}

#form {
    margin: 5px auto 5px auto;
    width: 35%;
    border: 3px solid pink;
    padding: 10px;
    background-color: rgb(255, 179, 217);
}
